@import "tailwindcss";
@import "./card.css";
@import "./accordion.css";
@import "./swiper.css";
@import "./weekly.css";
@import "./table.css";

:root {
  --margin: 1rem;
  --padding: 1rem;
  --border-dotted: 2px dotted black;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  background:
    linear-gradient(
      0deg,
      rgba(196, 171, 255, 1) 0%,
      rgba(240, 171, 255, 1) 10%,
      rgba(242, 255, 168, 1) 20%,
      rgba(255, 255, 255, 0.5) 40%
    ),
    url("data:image/svg+xml,%3Csvg viewBox='0 0 8000 8000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
table {
  font-size: 1rem;
  line-height: 1.25;
  font-family: "Geist", sans-serif;
}

h1,
.heading-1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 0.9;
  letter-spacing: -0.05em;
}

h2,
.heading-2 {
  font-size: 2rem;
}

h3,
.heading-3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.25;
}

h4,
.heading-4 {
  @apply rounded bg-black px-2 py-1 text-[1.25rem] font-semibold text-white;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Source Serif 4", serif;
  @apply max-w-prose text-pretty;
}

ul li {
  font-family: "Source Serif 4", serif;
}

.pill {
  @apply rounded-full bg-white px-3 py-1 text-2xl font-semibold text-gray-800;
}

details {
  cursor: pointer;
}

.ridge-border {
  box-shadow:
    inset 5px 5px 15px rgba(255 255 255 / 0.2),
    inset -5px -5px 15px rgba(0 0 0 / 0.8);
  border: 1em ridge pink;
  border-radius: 100%;
  background:
    linear-gradient(black, black) padding-box,
    repeating-conic-gradient(#222 0deg 30deg, #111 30deg 60deg) border-box;
  aspect-ratio: 16/9;
  width: 80%;
  overflow: hidden;
}

.cutoff {
  @apply mx-auto max-w-[1440px];
}
