---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/nav.astro";
import Info from "../components/info.astro";
import Description from "../doc/Description.astro";
import Community from "../doc/Community.astro";
import Module1 from "../doc/Module1.astro";
import Module2 from "../doc/module-2.mdx";
import Module3 from "../doc/module-3.mdx";
import Grading from "../doc/grading.mdx";
import Policies from "../doc/policies.mdx";
import Resources from "../doc/resources.mdx";
import Sketch from "../components/Sketch.astro";
import "../styles/global.css";
---

<Layout>
  <Nav />
  <Info />

  <main>
    <Description />
    <Community />
    <details open class="mx-[var(--margin)] py-[var(--margin)]">
      <summary class="heading-1">Class Modules</summary>
      <Module1 />
      <Module2 />
      <Module3 />
    </details>

    <Grading />
    <Policies />
    <Resources />
  </main>
</Layout>
