---
import Card from "@/components/Card.astro";
import Swiper from "@/components/Swiper.astro";
import Accordion from "@/components/Accordion.astro";
---

<Accordion title="Community Agreement" open="false">
  <Swiper>
    <Card>
      <h3>
        Technology A is a community of teachers and learners and a space for
        experimentation. We are not here to compete, but to support each other’s
        learning. We recognize that everyone is moving at their own pace, on
        their own track of life. This is a space where we try things we’ve never
        done before, where we allow ourselves to be uncomfortable, and where
        mistakes are part of the process.
      </h3>
    </Card>
    <Card>
      <p class="mb-2">In this space:</p>
      <h3>
        We learn by doing, breaking, debugging, and trying again. We encourage
        experimentation, risk, and growth over perfection. Progress matters more
        than where you started
      </h3>
    </Card>
    <Card>
      <h3>
        We learn by doing, breaking, debugging, and trying again. We encourage
        experimentation, risk, and growth over perfection. Progress matters more
        than where you started
      </h3>
    </Card>
    <Card>
      <h3>
        We ask questions early and often to help each other learn. There are no
        dumb questions.
      </h3>
    </Card>
    <Card>
      <h3>
        We help others when we can. This is a space where it’s okay to not know
        something and where asking for help is part of the process, not a
        weakness. We’re here to make weird things with technology, together.
      </h3>
    </Card>
    <Card>
      <h3>Give feedback that’s respectful, specific, and kind.</h3>
    </Card>
    <Card>
      <h3>
        Share what we learn. Not just our finished projects, but the messy
        in-progress stuff too.
      </h3>
    </Card>
    <Card>
      <h3>
        Make sure we credit and cite the people, tools and tutorials who help us
        get there.
      </h3>
    </Card>
    <Card>
      <h3>
        Challenge the idea that technology is neutral or universal. We ask whose
        stories it tells and who gets to write them.
      </h3>
    </Card>
    <Card>
      <h3>
        If you believe someone is violating this Community Agreement or Code of
        Conduct, please report it by emailing the chair, Gaia Hwang. Sometimes,
        people may not realize their behavior is harmful. An open, respectful
        conversation can often clear things up and help everyone move forward.
      </h3>
    </Card>
    <Card>
      This writing is remixed from
      <a href="https://p5js.org/code-of-conduct/" target="_blank"
        >p5.js code of conduct</a
      >,
      <a
        href="https://www.mozilla.org/en-US/about/governance/policies/participation/"
        target="_blank">Mozilla Community Participation Guidelines</a
      >
      and
      <a
        href="https://computinged.wordpress.com/2015/09/28/what-can-i-do-today-to-create-a-more-inclusive-community-in-cs-guest-post-from-cynthia-lee/"
        target="_blank"
        >Cynthia Lee’s writing on how to create a more inclusive community in CS</a
      >.
    </Card>
  </Swiper>
</Accordion>
