---
import Card from "@/components/Card.astro";
import Swiper from "@/components/Swiper.astro";
import Accordion from "@/components/Accordion.astro";
---

<Accordion title="Course Description" open>
  <Swiper>
    <Card>
      <h3>Bulletin Description</h3>
      <p>
        Students will critically analyze and explore the tools, skills, and
        production methods of current and emerging technologies in design media,
        with an emphasis on effective and appropriate creative visualization,
        analysis, and utilization. They will investigate technology trends
        within a historical context to better understand and extrapolate
        emerging technology systems. This is a two-semester studio course: 720A
        is the first semester, and 720B is the second.
      </p>
    </Card>
    <Card>
      <h3>Detailed Description</h3>

      <article class="flex flex-col gap-4">
        <p>
          This studio aims to connect and integrate the areas of interface,
          interaction and experience, sequence and time, imaging, information,
          networks, and dynamic content. Design technology connects networks of
          information and people, which are transitory. This course will discuss
          how to cite, show, or publish work that is inherently ephemeral.
        </p>

        <p>
          Project development is supported with ongoing studio practice,
          contextual design research, weekly discussions and readings, critical
          analysis, writing, group critiques, and meetings with faculty.
          Students are expected to develop innovative research on emerging
          technology platforms. Lectures, visiting critics and group discussions
          will cover historical uses of technology as well as emerging
          applications.
        </p>

      </article>
    </Card>

    <Card>
      <h3>Course Goals</h3>

      <ul>
        <li>
          To gain a greater understanding of the historical context of
          technology development and its specific relevance to design and
          communication.
        </li>
        <li>
          To explore a wide range of systems to help foster creative
          problem-solving and ideation
        </li>
        <li>
          To acquire a more advanced knowledge of the design tools used for
          expression, collaboration and production
        </li>
        <li>
          To demonstrate the ability to execute sophisticated projects bridging
          multiple media options with professional-level workflows, formats and
          detail constancy
        </li>
        <li>
          To acquire an appreciation for the emerging concepts and language of
          new media
        </li>
        <li>
          To gain informational and aesthetic engagement with interactivity
        </li>
        <li>
          To understand community engagement and user experience with digital
          media creation
        </li>
      </ul>
    </Card>
    <!--  <Card>
      <h3>Learning Outcomes</h3>

    <ul>
      <li>
        Students will be able to differentiate between the different technology
        “periods” and speak to the positive and negative opportunities and
        limitations afforded by each period
      </li>
      <li>
        Students will be able to sketch and plan formative concepts, and migrate
        preliminary concepts into an agile, planned new media workflow for
        further exploration and refinement
      </li>
      <li>
        Students will be able to produce a conceptually valid cross-media design
        experience bridging multiple communications media formats
      </li>
      <li>
        Students will be able to produce industry-standard, file formats and
        media encodings
      </li>
      <li>
        Students will be able to define and design a rich media experience for a
        mythical or predictive array or “mashup” of communications technologies
      </li>
    </ul>-->
  </Swiper>
</Accordion>
