---
import TwoColumn from "@/components/TwoColumn.astro";
import Callout from "@/components/Callout.astro";
import Accordion from "@/components/Accordion.astro";
---

<Accordion title="Module 1: From Fixed to Variable" open>
  <TwoColumn>
    <div class="weekly">
      <h2>Week 1-5</h2>

      <img
        src="./placeholders/flexible.jpg"
        alt="Module 1-5 Image"
        class="ridge-border-soft"
      />

      <p>
        Since the invention of the first tools, designers and technology have
        evolved together in a dynamic, reciprocal relationship. From movable
        type and mechanical presses to desktop publishing, and now computational
        tools and digital fabrication, designers have continually adapted to new
        languages and tools while simultaneously shaping and redefining those
        technologies to expand what’s possible in communication.
      </p>

      <p>
        With the rise of digital printing and fabrication, the need for
        traditional platemaking has diminished. Designers can now work directly
        with digital values and variables, enabling design that is adaptable
        both digitally and physically. This shift opens new possibilities for
        creating flexible and responsive systems without being limited by fixed,
        one-size-fits-all solutions.
      </p>

      <p>
        In this unit, you will explore foundational technological concepts such
        as variables, randomness, and functions that empower and challenge you
        as a designer. Moving beyond fixed, perfect proportions, you will learn
        to design “programs” that create, break, and modularize rules to
        generate flexible, dynamic systems. Throughout the making process, we
        will reflect on the evolving role of the designer in an increasingly
        digital and automated world.
      </p>
    </div>

    <div class="weekly">
      <h2>Project 1: Flexible Manifesto</h2>

      <Callout>
        <p>
          This assignment is due Sep 23.<br />Guided by Workshop 1
        </p>
      </Callout>

      <p>
        Choose a short piece of text in your preferred language. It can be a
        poem, a quote, an excerpt from your diary, or any other form of writing.
        The text should be personal, poetic, or culturally meaningful to you,
        serving as a manifesto or statement that reflects your values and
        beliefs.
      </p>

      <p>
        You will reimagine this text as a flexible design system. Instead of
        creating a unique and fixed layout for each variation, your design
        system should be able to automatically generate and adapt to different
        scales, proportions, and materials and produce at least five distinct
        physical forms, each varying in material, dimensions, scale, or
        proportion.
      </p>

      <p>
        You are encouraged to explore how different fabrication methods such as
        inkjet printer, UV printing, risograph printing, digital cutting and
        laser cutting (cut versus engraving) can change the dimension and shape
        the interpretation and impact of your text and design. This assignment
        challenges you to move beyond a one-size-fits-all approach and design
        with adaptability and variation in mind.
      </p>

      <img
        src="./placeholders/flexible-2.jpg"
        alt="Module 1-5 Image"
        class="ridge-border-chrome mt-4"
      />
    </div>
  </TwoColumn>
  <TwoColumn>
    <div class="weekly">
      <h2>Recommended Readings</h2>
      <ul>
        <li>Gerstner, Karl. 1964. Designing Programmes.</li>
        <li>Reinfurt, David. 2021. A New Program for Graphic Design.</li>
        <li>
          Blauvelt, Andrew, and Ellen Lupton, editors. “Tool (Or, Postproduction
          for Graphic Designer)” 2011. Graphic Design: Now in Production.
        </li>
        <li>
          Pater, Ruben. 2019. “One Size Fits All.” Modes of Criticism 5: Design
          Systems.
        </li>
      </ul>
    </div>
    <div class="weekly">
      <h2>Workshop 1</h2>
      <p>TBA</p>
    </div>
  </TwoColumn>
</Accordion>
