---
import TwoColumn from "@/components/TwoColumn.astro";
import Callout from "@/components/Callout.astro";
import Accordion from "@/components/Accordion.astro";
---

<Accordion title="Module 2: Data As Material" open>
  <TwoColumn>
    <div class="weekly">
      <h2><span class="heading-4">Week 6-10</span> Data As Material</h2>

      <img
        src="../assets/img/Gray Equipment Box Photo.jpg"
        alt="Module 1-5 Image"
        class="ridge-border"
      />

      <p>
        Building on the understanding of variables, this unit introduces the
        concept of data as a powerful and complex resource.
      </p>

      <p>
        Data is never neutral. It reflects social, cultural, and political
        conditions that shape how it’s collected, interpreted, and represented.
        Designers have long used data to drive change. From W.E.B. Du Bois’s
        visualizations of Black life, to Florence Nightingale’s medical charts,
        to Minard’s map of Napoleon’s campaign, and Muriel Cooper. In the late
        20th century, advances in computing enabled designers to collect,
        analyze, and use large datasets, giving rise to generative and
        algorithmic design practices.
      </p>

      <p>
        By treating data as both a creative and critical material, they can
        shape structure, embed deeper meaning into their work, and at times
        expose hidden biases or systemic injustices.
      </p>

      <p>
        In this unit, you’ll not only learn how to translate data into dynamic,
        tangible objects using technology, but also critically examine what it
        means to introduce data into the design process. You’ll develop
        techniques for mapping real-world data into design and harness the
        computer’s ability to perform complex calculations and iterative loops,
        enabling forms that would be difficult or impossible to construct
        manually.
      </p>
    </div>

    <div class="weekly">
      <h2>Project 2: Data Sculpture</h2>

      <Callout
        ><p>
          This assignment is due Sep 23.<br />Guided by Workshop 2
        </p></Callout
      >

      <p>
        Choose a structured dataset connected to a social, cultural, or
        environmental topic that holds personal significance for you.
      </p>

      <p>
        You may work with existing and publicly available datasets and visualize
        it. However, you are encouraged to design and collect new data related
        to a specific aspect of your life or social issue. Possible themes
        include, but are not limited to, social inequality, cultural identity,
        environmental issues, or reflection on surveillance.
      </p>

      <p>
        Using tools like 3D printing, laser-cutting, or hand-built methods,
        transform your dataset into a sculptural form. Consider how elements
        like color, shape, size, texture, and structure can communicate your
        data’s story.
      </p>

      <p>
        You are welcome to mix and match different materials or use the 3D
        printed form as a reference to recreate the sculpture in other
        materials, expanding the possibilities of how your data is experienced
        physically.
      </p>

      <img
        src="../assets/img/Gray Equipment Box Photo.jpg"
        alt="Module 1-5 Image"
        class="ridge-border"
      />
    </div>
  </TwoColumn>
</Accordion>
