---
import Accordion from "@/components/Accordion.astro";
import Swiper from "@/components/Swiper.astro";
import Card from "@/components/Card.astro";
---

<Accordion title="Pratt Communications Design Departmental Resources" open>
 
  <Swiper>
    <Card>
      <h3>
        <a href="https://one.pratt.edu/s/sodproductionlabs"
          >Shops + Labs</a
        >
      </h3>

      <p>
        Resources for hands-on learning and making, exclusively for School of
        Design students. Shops for wood working, laser cutting, 2D and 3D
        printing, and CNC milling. Some shops require training and certification
        before fully using.
      </p>
    </Card>
    <Card>
      <h3>
        <a href="https://one.pratt.edu/s/production"
          >Production Services</a
        >
      </h3>
      <p>
        2D and 3D printing, scanning, digital cutting, CNC milling, and UV
        printing as a paid service, offered to all students at Pratt.
      </p>
    </Card>
    <Card>
      <h3>
        <a href="https://libguides.pratt.edu/equipment">Equipment Loan</a>
      </h3>
      <p>
        The Pratt Institute library on the Brooklyn campus has cameras,
        projectors, audio recording gear, computers, and tablets for loan to the
        Pratt community. Reserve your loan on the site!
      </p>
    </Card>

    <Card>
      <h3>
        <a href="https://prc.pratt.edu/">Pratt Anyware</a>
      </h3>
      <p>
        An on-demand remote desktop service using high performance CPU and GPU
        infrastructure. Great for rendering complex 3D projects.
      </p>
    </Card>

    <Card>
      <h3>
        <a href="http://llm.pratt.edu">llm.pratt.edu</a>
      </h3>
      <p>
        Choose from up-to-date LLMs (OpenAI, Claude, Gemini, Deepseek, Qwen, and
        more) with no subscription fees or token limits.
      </p>
    </Card>

    <Card>
      <h3>
        <a href="http://ai.pratt.edu">ai.pratt.edu</a>
      </h3>
      <p>
        A playground to experiment with generative AI tools to generate images,
        refine sketches, generate 3D files, get research assistance, and more.
        Currently accessible only on campus.
      </p>
    </Card>

  </Swiper>
</Accordion>
