---
import Accordion from "@/components/Accordion.astro";
import Swiper from "@/components/Swiper.astro";
import Card from "@/components/Card.astro";
import TwoColumn from "@/components/TwoColumn.astro";
---

<Accordion title="Pratt Communications Design Departmental Resources" open>
  <TwoColumn>
    <div class="weekly">
      <p>
        <a
          href="https://www.pratt.edu/design/homepage/school-of-design-labs-and-studios/"
        >
          School of Design Labs and Studios
        </a>
        located in the Design Center complex in Steuben Hall and Pratt Studios.
      </p>
      <p>
        Equipment is available for Pratt students. Some equipment requires some
        training. Be on the lookout for available training sessions posted
        throughout the school.
      </p>
    </div>
    <div class="weekly">
      <p>
        Pratt students have access to a wide range of facilities within the
        Department and around campus. Design School facilities include a wood
        shop, a metal shop, a photo studio, and there is access to computers in
        the studio, and in the Engineering and Machinery buildings.
      </p>
    </div>
  </TwoColumn>
  <Swiper>
    <Card>
      <h3>
        <a href="https://one.pratt.edu/s/production"
          >Printing &amp; Cutting Equipment Overview</a
        >
      </h3>

      <ul>
        <li>Saturday and Sunday: 10 AM–6 PM</li>
        <li>Monday–Thursday: 9 AM–10 PM</li>
        <li>Friday: 9 AM–5 PM</li>
      </ul>

      <ul>
        <li>Laser and wide format printing (ENGR 2nd floor, Steuben 4th)</li>
        <li>Roland Printer (Emboss, cut, crease, white ink, ENGR 2nd floor)</li>
        <li>Risograph</li>
        <li>Vinyl Cutter</li>
        <li>Digital Cutting</li>
        <li>Pratt Industrial Design Shop Facilities</li>
      </ul>
    </Card>
    <Card>
      <h3>Industrial Design Facilities</h3>

      <p>
        The Industrial Design Shop provides the tools to fabricate both
        small-scale models or full-size prototypes and functioning products.
        Wood, plastics, dense foam, and metals are among the many types of
        material that can be machined or manipulated. In order to access the
        shop, students must register for and complete a shop certification
        course (IND-001).
      </p>

      <p>
        The course is one time only (two sessions) and the certification is good
        for all your time at Pratt. Beyond informing students of safety
        regulations, this shop course serves as an orientation to the shop,
        tools, and materials. For more information, please see the Shop
        Orientation Manual.
      </p>
    </Card>
    <Card>
      <h3>Equipment in Industrial Design Workshops</h3>
      <p>
        (ID Students get priority over other Departments during the semester)
      </p>
      <ul>
        <li>Band Saws of various sizes</li>
        <li>Scroll Saw</li>
        <li>Table Saw “Sawstop Safety Saw”</li>
        <li>Vertical Mills</li>
        <li>Jointer</li>
        <li>Metal Lathes</li>
        <li>Thickness Planer</li>
        <li>Metal Tube Benders</li>
        <li>
          Various Sanders: Belt, Disc, and Spindle Sanders • Sheet Metal Brake
        </li>
        <li>Panel Saw</li>
        <li>Sheet Metal Shears</li>
        <li>Drill Presses</li>
        <li>Vacuum Forming Machines</li>
        <li>Wood Lathes</li>
        <li>Pizza Oven for Plastics Slumping</li>
      </ul>
    </Card>

    <Card class="weekly">
      <h3>The Tool Room</h3>

      <p>
        The Tool Room provides hand tools for students to check out during shop
        hours. The shop houses a spray booth for exclusively water-based paints
        and finishes.
      </p>
      <p>
        Several full-time staff technicians are available to help students with
        technical questions about materials and fabrication techniques.
      </p>
      <p>
        Down-Draft Tables and several work tables for assembly and construction
        are available 7 days a week, 24 hours a day.
      </p>
    </Card>

    <Card>
      <h3>Student Access Portal onePratt</h3>
      <p>
        Launchpad; Where you’ll find cloud-based software for 3D
        modeling/Autodesk/Adobe applications). Go to: Production Page &gt;
        School of Design.
      </p>
    </Card>

    <Card>
      <h3>
        <a href="https://one.pratt.edu/s/production"
          >Print and Production Labs</a
        >
      </h3>
      <p>
        A centralized location for Pratt Institute’s Production capabilities and
        protocols where you’ll find digital production tools for 2D &amp; 3D
        printing, cutting, milling, and ordering materials. It includes basic
        machine information, tooling options, facility locations, hours of
        operation, submission links, and all other pertinent information
        regarding output and production.
      </p>
    </Card>

    <Card>
      <h3>2D Printing Production Lab(s)</h3>
      <p>
        Pratt offers multiple locations for laser and wide-format inkjet
        printing on over 50 substrates. c/o 2D Printing Center in the
        Engineering Building (ENG 209 and MAC 107), Imaging Center (Steuben Hall
        402), Higgins Hall (HHN 306), Pratt Manhattan 2D Printing Center (PMC
        5th floor).
      </p>
    </Card>

    <Card>
      <h3>3D Printing Production Lab</h3>
      <p>
        Additive manufacturing utilizes a range of materials to transfer digital
        models into physical objects. Engineering Building: 3DPC, ENG 211.
      </p></Card
    >

    <Card>
      <h3>Digital Cutting Production Lab</h3>
      <p>
        Pratt’s Zund G3XL precision machine is the largest, non-commercial,
        Digital Cutter in the Northeast using sophisticated cutting technology
        across a spectrum of drag blade and routing tools; offering tailored
        automation to produce jobs at the highest quality, economically and
        efficiently. Easy integration into digital or production workflows
        paired with the wide range of materials and processing methods make Zund
        Digital Cutting near-universally applicable providing greater latitude
        to project capabilities. Engineering Building: ZDC, ENG 002.
      </p>
    </Card>

    <Card>
      <h3>Laser Cutting Production SOD Lab</h3>
      <p>Steuben Hall, 315.</p>
    </Card>

    <Card>
      <h3>CNC Milling Production SOD Lab</h3>
      <p>Steuben Hall, 315.</p>
    </Card>

    <Card>
      <h3>Material Depot/Material Purchasing (Opening Soon)</h3>
      <p>
        Pratt stocks a range of materials for purchase on-site below market
        rate, offering convenience and economy. Engineering Building: ENG 209.
      </p>
    </Card>

<!--     <Card>
      <h3>Facilities Management Work Order</h3>
      <p>
        Facilities Management online work order system. Once submitted, each
        request will be logged into the Facilities Help Desk system and the
        contact person will receive an email confirmation. The work order will
        then be assigned to the appropriate technician, who will work to resolve
        the issue as quickly as possible.
      </p>
    </Card> -->
  </Swiper>
</Accordion>
