---
const { title = "Accordion Title", open = true, italic = false } = Astro.props;
const isOpen =
  typeof open === "string" ? open.toLowerCase() !== "false" : Boolean(open);
const isItalic =
  typeof italic === "string"
    ? italic.toLowerCase() === "true"
    : Boolean(italic);
const titleId = title.toLowerCase().replace(/\s+/g, "-");
---

<div id={`${titleId}`} class="accordion" data-open={isOpen}>
  <button
    class="accordion-button cutoff"
    aria-expanded={isOpen ? "true" : "false"}
    type="button"
  >
    <h1 class={`big-text`}>{title}</h1>
  </button>
  <div
    class="accordion-content relative"
    role="region"
    aria-hidden={isOpen ? "false" : "true"}
  >
    <slot />
  </div>
</div>

<script>
  document.querySelectorAll(".accordion").forEach((accordion) => {
    const button = accordion.querySelector(".accordion-button");
    const content = accordion.querySelector(".accordion-content");

    button.addEventListener("click", () => {
      const isExpanded = button.getAttribute("aria-expanded") === "true";
      button.setAttribute("aria-expanded", String(!isExpanded));
      content.setAttribute("aria-hidden", String(isExpanded));
    });
  });
</script>
