---
const { class: extraClass = "" } = Astro.props;
---

<div
  class={`card aspect-square !w-[400px] text-grey border bg-white p-4 ${extraClass} overflow-hidden transition-all duration-300 multiline-truncate swiper-slide`}
  data-toggle-card
  data-expanded="false"
>
  <slot />
</div>

<script>
  document.querySelectorAll("[data-toggle-card]").forEach((card) => {
    card.addEventListener("click", () => {
      const isSquare = card.classList.contains("aspect-square");
      const width = card.offsetWidth;

      if (isSquare) {
        card.classList.remove("aspect-square");
        const height = card.offsetHeight;

        const shouldExpand = height > width;
        card.classList.toggle("!h-max", shouldExpand);
        card.classList.toggle("aspect-square", !shouldExpand);

        // Set data-expanded accordingly
        card.setAttribute("data-expanded", shouldExpand ? "true" : "false");
      } else {
        card.classList.add("aspect-square");
        card.classList.remove("!h-max");

        // Mark collapsed
        card.setAttribute("data-expanded", "false");
      }
    });
  });
</script>
