<!-- <div class="marquee" aria-label="Infinite scrolling marquee">
  <div class="marquee__inner">
    <h1 class="marquee__content">
      Variable・Conditional・Loop・Data・Function・Array・Input・
    </h1>
    <h1 class="marquee__content">
      Variable・Conditional・Loop・Data・Function・Array・Input・
    </h1>
    <h1 class="marquee__content">
      Variable・Conditional・Loop・Data・Function・Array・Input・
    </h1>
  </div>
</div> -->
<footer
  class="heading-3 ridge-border-footer mt-20 flex flex-col items-center justify-between gap-4 rounded-4xl p-[var(--margin)] text-pretty md:flex-row"
>
  <h3>&copy; {new Date().getFullYear()} FA25-TechA. All rights reserved.</h3>
  <h3>Hand-coded with love by Munus & Matt</h3>
</footer>
