<header
  class="items-top flex w-full flex-col justify-between gap-4 p-[var(--margin)] text-pretty lg:flex-row"
>
  <div class="flex flex-col items-start gap-2">
    <h1 class="heading-1 w-auto text-balance">
      Graduate Studio:<br /> Technology A
    </h1>
  </div>
  <div>
    <h2>
      <a href="https://www.pratt.edu/design/graduate-communications-design/"
        >Pratt Grad ComD</a
      >
    </h2>
    <h2>DES 720A</h2>
  </div>
</header>
