<header
  class="items-top flex w-full flex-col justify-between gap-4 p-[var(--margin)] text-pretty lg:flex-row"
>
  <div class="flex flex-col items-start gap-2">
    <h1 class="heading-1 w-auto text-balance">
      Graduate Studio:<br /> Technology A
      <span class="heading-4 m-0 hidden tracking-wide md:inline">DES 720A</span>
    </h1>
    <span class="heading-4 m-0 block md:hidden">DES 720A</span>
  </div>
  <h2>
    <a href="https://www.pratt.edu/design/graduate-communications-design/"
      >Pratt Grad ComD</a
    >
  </h2>
</header>
