---
import Clock from "../components/Clock.astro";
---

<aside
  class="m-[var(--margin)] font-bold [border-bottom:var(--border-dotted)] [border-top:var(--border-dotted)]"
>
  <div
    class="cutoff grid gap-4 py-[var(--padding)] sm:grid-cols-2 md:grid-cols-4"
  >
    <Clock />
    <div class="flex flex-col justify-start gap-4 lg:flex-row">
      <ul>
        <li>It's currently week 1</li>
        <li>2 people are viewing the site</li>
      </ul>
    </div>
    <ul>
      <li>Fall 2025</li>
      <li>5:00-7:50pm, Every Tuesday</li>
      <li>Steuben Hall, Pratt Institute</li>
      <li>3 Credits</li>
    </ul>
    <ul>
      <li>Matt Martin, matt@pratt.edu</li>
      <li>Munus Shih, munus.shih@pratt.edu</li>
      <li>Anna Fangan Xu, fxux4@pratt.edu</li>
      <li>Instructor 4: Name, Email</li>
      <li>Instructor 5: Name, Email</li>
    </ul>
  </div>
</aside>
