<aside class="cutoff">
  <div>
    <div>
      <h3>Quick Links</h3>
      <ul>
        <li><a href="https://p5js.org/reference/">p5.js Reference</a></li>
        <li><a href="https://editor.p5js.org/">p5.js Editor</a></li>
        <li><a href="https://openprocessing.org">OpenProcessing</a></li>
        <li>
          <a href="https://forms.gle/MfXbSbiJB7azCffg9/"
            >Tech and Tools Survey</a
          >
        </li>
        <li><a href="https://code.visualstudio.com">Visual Studio Code</a></li>
      </ul>
    </div>

    <div>
      <h3>Course Info</h3>
      <ul>
        <li>Fall 2025</li>
        <li>5:00-7:50pm, Every Tuesday</li>
        <li>Steuben Hall, Pratt Institute</li>
        <li>3 Credits</li>
      </ul>
    </div>

   <!--  <div>
      <h3>Sections</h3>
      <ul>
        <li>DES-720A-01</li>
        <li><a href="https://tech-a.munusshih.com/">DES-720A-02</a></li>
        <li>DES-720A-03</li>
        <li>DES-720A-04</li>
        <li>DES-720A-05</li>
      </ul>
    </div>
 -->
    <div>
      <h3>DES-720A</h3>
      <ul>
        <li>01 Anna Fangan Xu, fxux4@pratt.edu</li>
        <li>
          <a href="https://tech-a.munusshih.com/">02 Munus Shih</a>, <a
            href="mailto:munus.shih@pratt.edu">munus.shih@pratt.edu</a
          >
        </li>
        <li>03 Tanvi Sharma, tsharm30@pratt.edu</li>
        <li>04 Matt Martin, matt@pratt.edu</li>
        <li>05 Moein Shashaei, mshashae@pratt.edu</li>
      </ul>
    </div>
  </div>
</aside>
