---
import Clock from "../components/Clock.astro";
---

<aside class="cutoff">
  <div>
    <Clock />
    <div>
      <h3>Quick Links</h3>
      <ul>
        <li><a href="https://p5js.org/reference/">p5.js Reference</a></li>
        <li><a href="https://editor.p5js.org/">p5.js Editor</a></li>
        <li><a href="https://openprocessing.org">OpenProcessing</a></li>
      </ul>
    </div>

    <div>
      <h3>Course Info</h3>
      <ul>
        <li>Fall 2025</li>
        <li>5:00-7:50pm, Every Tuesday</li>
        <li>Steuben Hall, Pratt Institute</li>
        <li>3 Credits</li>
      </ul>
    </div>

    <div>
      <h3>Instructors</h3>
      <ul>
        <li>Matt Martin</li>
        <li>Munus Shih</li>
        <li>Anna Fangan Xu</li>
        <li>TBD</li>
        <li>TBD</li>
      </ul>
    </div>
  </div>
</aside>
