---
import Clock from "../components/Clock.astro";
---

<aside
  class="m-[var(--margin)] grid gap-4 py-[var(--padding)] font-bold [border-bottom:var(--border-dotted)] [border-top:var(--border-dotted)] lg:grid-cols-3"
>
  <div class="flex flex-col justify-start gap-4 lg:flex-row">
    <Clock />
    <ul>
      <li>It's currently week 1</li>
      <li>2 people are viewing the site</li>
    </ul>
  </div>
  <ul>
    <li>Fall 2025</li>
    <li>5:00-7:50pm, Every Tuesday</li>
    <li>Steuben Hall, Pratt Institute</li>
    <li>3 Credits</li>
  </ul>
  <ul>
    <li>Instructor 1: Name, Email</li>
    <li>Instructor 2: Name, Email</li>
    <li>Instructor 3: Name, Email</li>
    <li>Instructor 4: Name, Email</li>
    <li>Instructor 5: Name, Email</li>
  </ul>
</aside>
