<header
  class="items-top flex w-full flex-col justify-between gap-4 p-[var(--margin)] text-pretty lg:flex-row"
>
  <div class="flex flex-col items-start gap-2 lg:flex-row lg:items-end">
    <h1 class="heading-1 w-auto text-balance">
      Graduate Studio:<br /> Technology A
    </h1>
    <h2 class="heading-4 m-0">DES 720A</h2>
  </div>
  <h3 class="heading-3">Pratt Grad ComD</h3>
</header>

<!-- <nav class="fixed bottom-0 left-0 z-50 w-full p-[var(--margin)]">
  <ul
    class="flex flex-col flex-wrap items-center justify-center gap-4 text-center lg:flex-row"
  >
    <li class="pill">
      <a href="/">Course Description</a>
    </li>
    <li class="pill">
      <a href="/work">Course Modules</a>
    </li>
    <li class="pill">
      <a href="/sketch">Grading and Attendance</a>
    </li>
    <li class="pill">
      <a href="/info">Policies</a>
    </li>
    <li class="pill">
      <a href="/resources">Resources</a>
    </li>
    <li class="pill">
      <a href="/about">Archive</a>
    </li>
  </ul>
</nav> -->

<style>
  nav {
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    z-index: 9999 !important;
    width: 100% !important;
  }
</style>
