---

---

<div id="p5-container" class="ridge-border mx-auto mt-8 mb-20"></div>

<style>
  #p5-container {
    position: relative;

    background: black;
    background: url("../assets/img/Gray Equipment Box Photo.jpg") no-repeat
      center center / cover;
    background-clip: padding-box;
    background-color: #222;
  }
</style>
