---
// Swiper.astro
const { images } = Astro.props;
import Swiper from "swiper";
import Arrow from "@/assets/svg/Arrow.svg";
import "swiper/css";
---

<div class="swiper relative">
  <div class="swiper-wrapper my-4">
    <slot />
  </div>
</div>
<div
  class="swiper-button-container pointer-events-none absolute -top-10 right-0 left-0 z-10 flex w-full flex-row justify-end pr-4"
>
  <button
    class="swiper-button-prev pointer-events-auto rotate-180 cursor-pointer"
  >
    <Arrow />
  </button>
  <button class="swiper-button-next pointer-events-auto cursor-pointer">
    <Arrow />
  </button>
</div>
