---
import { SEO } from "astro-seo";
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title="Technology A — Pratt Grad ComD"
      description="Technology A is a required first-semester course for Graduate Communications Design (GradCD) students at Pratt, taken alongside Visual Language A and Transformation Design A.  The course is structured in two parts, Technology A (720A) in the first semester and Technology B (720B) in the second, each typically taught by different instructors with different curriculum."
      openGraph={{
        basic: {
          title: "Technology A — Pratt Grad ComD",
          type: "A type.",
          image: "https://tech-a.designfuture.space/opengraph-image.png",
        },
      }}
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Boldonse&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="./favicon.svg" />
    <title>Technology A — Pratt Grad ComD</title>
  </head>
  <body>
    <slot />
  </body>
</html>
